@import 'mixin';

$text-color: orange;
$pink: pink;
$bg: magenta;

body {
	background: $pink;
}	  
.header{
	text-align: center;
}
.blog-post, h2 {
	color: $text-color;
}

#awesome {
	width: 150px;
	height: 150px;
	background-color: green;
	@include border-radius(15px);
}
  
#box {
    width: 150px;
    height: 150px;
    background-color: red;
    @include border-stroke(medium);
}

@for $j from 1 through 5 {
	.text-#{$j} { font-size: 10px * $j; }  
}

$colors: ("blue": blue, "black": black, "red": red);
@each $key, $color in $colors {
	.#{$key}-bg { background-color: $color; width: 100px; height: 100px; }
}

$x: 1;
@while $x < 11 {
    .textw-#{$x} { font-size: 5px * $x;}
    $x: $x + 1;
}


.info{
	width: 200px;
	border: 1px solid black;
	margin: 0 auto;
}

.info-important {
	@extend .info;
	background-color: $bg;
}