$text-color: orange;
$pink: pink;

body {
	background: $pink;
}	  
.header{
	text-align: center;
}
.blog-post, h2 {
	color: $text-color;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

#awesome {
	width: 150px;
	height: 150px;
	background-color: green;
	@include border-radius(15px);
}

@mixin border-stroke($val) {
	@if $val == light {
		border: 1px solid black;
    }
    @else if $val == medium {
		border: 3px solid black;
    }
    @else if $val == heavy {
		border: 6px solid black;
    }
    @else {
		border: none;
    }
}  
  
#box {
    width: 150px;
    height: 150px;
    background-color: red;
    @include border-stroke(medium);
}

@for $j from 1 through 5 {
	.text-#{$j} { font-size: 10px * $j; }  
}